@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: Roboto Mono, sans-serif;
    background-image: url("images/wooden-background.jpg");
    background-size: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.calculator {
    height: 450px;
    width: 280px;
    border: 15px solid #1a1a1a;
    border-radius: 15px;
    background-color: #1a1a1a;
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    height: 15%;
    width: 260px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 2px 2px 7px black inset;
    font-size: large;
}

.display .result {
    margin-top: 10px;
    font-size: larger;
    font-weight: bolder;
    color: #186116;
}

.buttons {
    height: 80%;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}

.buttons .operator {
    background-color: orange;
}

.buttons .function {
    background-color: gray;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: larger;
    background-color: #1a1a1a;
    border: none;
    box-shadow: 5px 5px 5px black;
    color: white;
    transition: transform 0.3s;
}

button:hover {
    transform: translateY(-5px);
    filter: brightness(150%);
}

.buttons .operator:hover,
.buttons .function:hover {
    filter: brightness(110%);
}

.buttons .equals {
    width: 130px;
    border-radius: 30px;
}